@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Dit project is gemaakt in door studenten van het ROC van Twente in samenwerking met Aveleijn.<br /> 
    Als u wenst contact met ons op te nemen verwijzen wij u naar de contactgegevens van Aveleijn.</p>

<address>
    <strong>email:</strong>   <a href="mailto:info@aveleijn.nl">info@aveleijn.nl</a><br />
    <strong>Tel: </strong> <a>074-255 66 00</a>
</address>