@{
    ViewBag.Title = "Home Page";
}

<h2>Doelen</h2>

<div style="margin-top: 50px;" class="w3-container">
    <h2>Lichamelijke gezondheid en zelfverzorging</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt ontvangt adequate medische behandeling.</li>
        <li>Cliënt heeft aandacht voor zijn persoonlijke hygiëne en uiterlijk.</li>
        <li>Cliënt bezoekt minimaal eens per jaar de tandarts</li>
        <li>Cliënt eet gezond.</li>
        <li>Cliënt heeft een gezond dag- nachtritme.</li>
        <li>Cliënt heeft voldoende lichamelijke beweging.</li>
        <li>Cliënt doet regelmatig aan sport</li>
    </ul>
</div>
<div style="margin-top: 50px;" class="w3-container">
    <h2>Ondersteuning bij psychisch welbevinden</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt staat onder behandeling van de GGZ en/of verslavingszorg</li>
        <li>Cliënt gebruikt medicatie op de juiste wijze</li>
        <li>Cliënt is in staat om zelfhulp te vragen</li>
        <li>Cliënt werkt aan herstel of behoud van zelfrespect.</li>
        <li>Cliënt heeft verslaving onder controle</li>
        <li>Cliënt is zich bewust van de gevolgen van zijn ziekte</li>
        <li>Cliënt voelt zich veilig</li>
        <li>Cliënt kan zijn gevoelens duidelijk maken</li>
    </ul>
</div>
<div style="margin-top: 50px;" class="w3-container">
    <h2>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt is zich bewust van zijn persoonlijke drijfveren</li>
        <li>Cliënt voert voor hem zinvolle activiteiten uit</li>
        <li>Cliënt heeft een curator/bewindvoerder/mentor</li>
        <li>Cliënt heeft dagbesteding, opleiding, (vrijwilligers-)werk</li>
        <li>Cliënt heeft een bij hem passende vrijetijdsbesteding</li>
        <li>Cliënt zit bij een vereniging, club, enz.</li>
        <li>Cliënt voelt zich veilig</li>
        <li>Cliënt kan zijn gevoelens duidelijk maken</li>
    </ul>
</div>
<div style="margin-top: 50px;" class="w3-container">
    <h2>Ondersteuning bij maatschappelijke en huiselijke problematiek</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt is in staat om overlast gevend gedrag in zijn omgeving terug te dringen/stop te zetten</li>
        <li>Cliënt kan omgaan met traumatische gebeurtenissen </li>
        <li>Cliënt heeft zijn verslaving onder controle </li>
    </ul>
</div>
<div style="margin-top: 50px;" class="w3-container">
    <h2>Huisvesting en huishouden</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt woont zelfstandig</li>
        <li>Cliënt stroomt door naar een meer zelfstandige woonruimte</li>
        <li>Cliënt ontvangt ambulante woonbegeleiding</li>
        <li>Cliënt heeft een plan om te sparen voor woninginrichting</li>
        <li>Cliënt onderhoudt vriendelijk contact met buren en huismeesters</li>
        <li>Cliënt heeft loon</li>
        <li>Cliënt werkt mee aan schuldhulpverlening</li>
        <li>Cliënt heeft inzicht in zijn maandelijkse inkomsten en uitgaven</li>
        <li>Cliënt spaart maandelijks een vast bedrag</li>
    </ul>
</div>
<div style="margin-top: 50px;" class="w3-container">
    <h2>Financieel functioneren</h2>
    <p>Verpleegkundige doelen:</p>
    <ul class="w3-ul">
        <li>Cliënt onderhoudt contact met zijn familie</li>
        <li>Cliënt beschikt over een netwerk van vrienden en is in staat dit netwerk te onderhouden</li>
        <li>Familie draagt zorg voor … </li>
        <li>Cliënt onderneemt sociale activiteiten</li>
        <li>Cliënt beheerst sociale vaardigheden</li>
        <li>Cliënt voert voor hem zinvolle activiteiten uit</li>
        <li>Cliënt heeft dagbesteding, opleiding, (vrijwilligers-)werk</li>
    </ul>
</div>


