@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twentse Zorg Model</h1>
    <p class="lead">Kies welke optie voor u van toepassing is.</p>
    <br />
    <button class="w3-button a-blue">start Kinderen  &raquo;</button>
    <a href="/Plus18/Index"><button class="w3-button a-blue">start Volwassenen (18+) &raquo;</button></a>
</div>

