@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indicatie systeem</h1>
    <p class="lead">Kies welke optie voor u van toepassing is.</p>
    <br />
    <button class="w3-button a-blue">start Kinderen  &raquo;</button>
    <button class="w3-button a-blue">start Volwassenen (18+) &raquo;</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CSE week Twente</h2>
        <p>
            Deze applicatie is gebouwd in de Computer Science Education Week Twente
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/CSEWTwente/?jazoest=265100122114991035353119110557910057114544875841071001208452119112101102485498697876721155610999120881091156655103586510011911699524984119120856711510611377541095498558510599524551109891107980113867868107105100551096811811066103">CSE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>kop 2</h2>
        <p>tekst 2 </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>kop 3</h2>
        <p>tekst 3</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>