
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form id="tab1">
    <h2>Ondersteuning bij lichamelijke verzorging</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=3 onchange='countPoints()'> <span class="label-text">ADL</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=1 onchange='countPoints()'><span class="label-text">Hygiëne</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=4 onchange='countPoints()'><span class="label-text">Voeding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Kleding/zelfzorg</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=3 onchange='countPoints()'><span class="label-text">Mobiliteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=1 onchange='countPoints()'><span class="label-text">Goede nachtrust</span>
        </label>
    </div>
</form>





<form id="tab2">
    <h2>Ondersteuning bij psychisch welbevinden</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=9 onchange='countPoints()'> <span class="label-text">Diagnostisch onderzoek</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=7 onchange='countPoints()'><span class="label-text">Rouwverwerking<n</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=6 onchange='countPoints()'><span class="label-text">Depresssie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Traumaverwerking</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Angst-, stress-, gedragsstoornissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=6 onchange='countPoints()'><span class="label-text">Dementie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Verslaving</span>
        </label>
    </div>
</form>



<form id="tab3">
    <h2>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=4 onchange='countPoints()'><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=4 onchange='countPoints()'><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Vrijetijds besteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Werk</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=4 onchange='countPoints()'><span class="label-text">Onderwijs</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Ontwikkelen van talent</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Trainingen</span>
        </label>
    </div>
</form>

<form id="tab4">
    <h2>Ondersteuning bij maatschappelijk en huiselijke problematiek</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=9 onchange='countPoints()'> <span class="label-text">Verwerking na gebeurtenissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Seksueel misbruik<n</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Huiselijk geweld en aggressie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Verslaving en overlast</span>
        </label>
    </div>
</form>

<form id="tab5">
    <h2>Ondersteuning bij huisvesting, huishouden, en financiën</h2>
    <div class="form-check">
        <label>

            <input type="checkbox" name="checkbox1vraag6" value=3 onchange='countPoints()'> <span class="label-text">Ondersteuning bij huisvesting, huishouden en financiën</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Begeleiding huishouden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Ondersteuning administratie en financiën</span>
        </label>
    </div>
</form>


<form id="tab6">
    <h2>Ondersteunen bij netwerk en relaties</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=2 onchange='countPoints()'> <span class="label-text">Sociale vaardigheden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Assertiviteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Contacten met o.a. familie/vrienden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=5 onchange='countPoints()'><span class="label-text">Relatie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=5 onchange='countPoints()'><span class="label-text">Seksualiteit en intimiteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Sociale bezigheden en activiteiten</span>
        </label>
    </div>

</form>

<p id="total">totaal hier</p>

<script type="text/javascript">
    function countPoints() {
        var total = 0;

        $('input:checkbox').change(function () {

            $('input:checkbox:checked').each(function () { // iterate through each checked element.
                total += isNaN(parseInt($(this).val())) ? 0 : parseInt($(this).val());
            });
            $("#total").text(total);

        });




    };


</script>

