
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Mate van beperking</h3>
<input type="radio" name="radiovraag11" value="geen" /> Geen beperking <br />
<input type="radio" name="radiovraag12" value="matig" /> Matige beperking (70-80 IQ) <br />
<input type="radio" name="radiovraag13" value="licht" /> Lichte beperking (50-70) <br />
<input type="radio" name="radiovraag14" value="zwaar" /> Zware beperking (< 50) <br />

<form id="matevanbeperking">
    <h2>Mate van beperking</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value="geen" onchange='countPoints()'> <span class="label-text">Geen beperking</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value="matig" onchange='countPoints()'><span class="label-text">Matige beperking (70-80 IQ)</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value="licht" onchange='countPoints()'><span class="label-text">Lichte beperking (50-70)</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value="zwaar" onchange='countPoints()'><span class="label-text">Zware beperking (< 50)</span>
        </label>
    </div>
</form>

<form id="kinderen">
    <h2>Zijn er kinderen in het spel?</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=1 onchange='countPoints()'> <span class="label-text">Ja</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=0 onchange='countPoints()'><span class="label-text">Nee</span>
        </label>
    </div>
</form>

<form id="zorgmeiding">
    <h2>Is er sprake van zorgmijding?</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=1 onchange='countPoints()'> <span class="label-text">Ja</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=0 onchange='countPoints()'><span class="label-text">Nee</span>
        </label>
    </div>
</form>


<form id="tab1">
    <h2>Ondersteuning bij lichamelijke verzorging</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=3 onchange='countPoints()'> <span class="label-text">ADL</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=1 onchange='countPoints()'><span class="label-text">Hygiëne</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=4 onchange='countPoints()'><span class="label-text">Voeding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Kleding/zelfzorg</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=3 onchange='countPoints()'><span class="label-text">Mobiliteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=1 onchange='countPoints()'><span class="label-text">Goede nachtrust</span>
        </label>
    </div>
</form>





<form id="tab2">
    <h2>Ondersteuning bij psychisch welbevinden</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=9 onchange='countPoints()'> <span class="label-text">Diagnostisch onderzoek</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=7 onchange='countPoints()'><span class="label-text">Rouwverwerking<n</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=6 onchange='countPoints()'><span class="label-text">Depresssie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Traumaverwerking</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Angst-, stress-, gedragsstoornissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=6 onchange='countPoints()'><span class="label-text">Dementie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Verslaving</span>
        </label>
    </div>
</form>



<form id="tab3">
    <h2>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=4 onchange='countPoints()'><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=4 onchange='countPoints()'><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Vrijetijds besteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Werk</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=4 onchange='countPoints()'><span class="label-text">Onderwijs</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Ontwikkelen van talent</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Trainingen</span>
        </label>
    </div>
</form>

<form id="tab4">
    <h2>Ondersteuning bij maatschappelijk en huiselijke problematiek</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=9 onchange='countPoints()'> <span class="label-text">Verwerking na gebeurtenissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Seksueel misbruik<n</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Huiselijk geweld en aggressie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=9 onchange='countPoints()'><span class="label-text">Verslaving en overlast</span>
        </label>
    </div>
</form>

<form id="tab5">
    <h2>Ondersteuning bij huisvesting, huishouden, en financiën</h2>
    <div class="form-check">
        <label>

            <input type="checkbox" name="checkbox1vraag6" value=3 onchange='countPoints()'> <span class="label-text">Ondersteuning bij huisvesting, huishouden en financiën</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Begeleiding huishouden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Ondersteuning administratie en financiën</span>
        </label>
    </div>
</form>


<form id="tab6">
    <h2>Ondersteunen bij netwerk en relaties</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=2 onchange='countPoints()'> <span class="label-text">Sociale vaardigheden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Assertiviteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Contacten met o.a. familie/vrienden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=5 onchange='countPoints()'><span class="label-text">Relatie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=5 onchange='countPoints()'><span class="label-text">Seksualiteit en intimiteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'><span class="label-text">Sociale bezigheden en activiteiten</span>
        </label>
    </div>

</form>

<p id="total">totaal hier</p>

@section Scripts {
    <script type="text/javascript">

       $(document).ready(function () {
        $('#submitBtn').on("click", function () {
            var list = [];
            $('input:checkbox:checked').each(function () { // iterate through each checked element.
                list.push($(this).attr("name"));
                console.log(list);
            });
            var postData = { values: list };
            $.ajax({
                type: "POST",
                url: "@Url.Action("PostCheckBoxes", "Plus18")",
                data: postData,
                success: function (data) {
                    var link = "@Url.Action("ShowNumberOfIndication", "Plus18", new { values = MVCLeegProject.Models.CheckBoxesModel.values })";
                    window.location.href = link;
                },
                dataType: "json",
                traditional: true
            });
        });
    });

    function countPoints() {
        var total = 0;

        $('input:checkbox').change(function () {

            $('input:checkbox:checked').each(function () { // iterate through each checked element.
                total += isNaN(parseInt($(this).val())) ? 0 : parseInt($(this).val());
            });
            $("#total").text(total);
        });




    };



    </script>
}

