
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="tab1">
    <p>Ondersteuning bij lichamelijke verzorging</p>

    <input type="checkbox" name="checkbox1vraag1" value=3 onchange='countPoints()'> ADL<br>
    <input type="checkbox" name="checkbox2vraag1" value=1 onchange='countPoints()'>Hygiëne<br>
    <input type="checkbox" name="checkbox3vraag1" value=4 onchange='countPoints()'>Voeding<br>
    <input type="checkbox" name="checkbox4vraag1" value=2 onchange='countPoints()'>Kleding/zelfzorg<br>
    <input type="checkbox" name="checkbox5vraag1" value=3 onchange='countPoints()'>Mobiliteit<br>
    <input type="checkbox" name="checkbox6vraag1" value=1 onchange='countPoints()'>Goede nachtrust<br>
</div>

<div id="tab2">
    <h3>Ondersteuning bij psychisch welbevinden</h3>

    <input type="checkbox" name="checkbox1vraag2" value=9 onchange='countPoints()'>Diagnostisch onderzoek<br>
    <input type="checkbox" name="checkbox2vraag2" value=7 onchange='countPoints()'>Rouwverwerking<br>
    <input type="checkbox" name="checkbox3vraag2" value=6 onchange='countPoints()'>Depresssie<br>
    <input type="checkbox" name="checkbox4vraag2" value=9 onchange='countPoints()'>Traumaverwerking<br>
    <input type="checkbox" name="checkbox5vraag2" value=9 onchange='countPoints()'>Angst-, stress-, gedragsstoornissen<br>
    <input type="checkbox" name="checkbox6vraag2" value=6 onchange='countPoints()'>Dementie<br>
    <input type="checkbox" name="checkbox7vraag2" value=9 onchange='countPoints()'>Verslaving<br>
</div>

<div id="tab3">
    <h3>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h3>

    <input type="checkbox" name="checkbox1vraag3" value=4 onchange='countPoints()'> Zinvolle dagbesteding<br>
    <input type="checkbox" name="checkbox2vraag3" value=2 onchange='countPoints()'>Vrijetijds besteding<br>
    <input type="checkbox" name="checkbox3vraag3" value=2 onchange='countPoints()'>Werk<br>
    <input type="checkbox" name="checkbox4vraag3" value=4 onchange='countPoints()'>Onderwijs<br>
    <input type="checkbox" name="checkbox5vraag3" value=2 onchange='countPoints()'>Ontwikkelen van talent<br>
    <input type="checkbox" name="checkbox6vraag3" value=2 onchange='countPoints()'>Trainingen<br>
</div>

<div id="tab4">
    <h3>Ondersteuning bij maatschappelijk en huiselijke problematiek</h3>
    <input type="checkbox" name="checkbox1vraag4" value=9 onchange='countPoints()'>Verwerking na gebeurtenissen<br>
    <input type="checkbox" name="checkbox2vraag4" value=9 onchange='countPoints()'>Seksueel misbruik<br>
    <input type="checkbox" name="checkbox3vraag4" value=9 onchange='countPoints()'>Huiselijk geweld en aggressie<br>
    <input type="checkbox" name="checkbox4vraag4" value=9 onchange='countPoints()'>Verslaving en overlast<br>
</div>

<div id="tab5">
    <h3>Ondersteuning bij huisvesting, huishouden, en financiën</h3>
    <input type="checkbox" name="checkbox1vraag5" value=3 onchange='countPoints()'>Ondersteuning bij huisvesting, huishouden en financiën<br>
    <input type="checkbox" name="checkbox2vraag5" value=2 onchange='countPoints()'>Begeleiding huishouden<br>
    <input type="checkbox" name="checkbox3vraag5" value=2 onchange='countPoints()'>Ondersteuning administratie en financiën<br>
</div>

<div id="tab6">
    <h3>Ondersteunen bij netwerk en relaties</h3>

    <input type="checkbox" name="checkbox1vraag6" value=2 onchange='countPoints()'>Sociale vaardigheden<br>
    <input type="checkbox" name="checkbox2vraag6" value=2 onchange='countPoints()'>Assertiviteit<br>
    <input type="checkbox" name="checkbox3vraag6" value=2 onchange='countPoints()'>Contacten met o.a. familie/vrienden<br>
    <input type="checkbox" name="checkbox4vraag6" value=5 onchange='countPoints()'>Relatie<br>
    <input type="checkbox" name="checkbox5vraag6" value=5 onchange='countPoints()'>Seksualiteit en intimiteit<br>
    <input type="checkbox" name="checkbox6vraag6" value=2 onchange='countPoints()'>Sociale bezigheden en activiteiten<br>
</div>

<p id="total">totaal hier</p>


<script type="text/javascript">
    function countPoints() {
        var total = 0;

        $('input:checkbox').change(function () {
            
            $('input:checkbox:checked').each(function () { // iterate through each checked element.
                total += isNaN(parseInt($(this).val())) ? 0 : parseInt($(this).val());
            });
            $("#total").text(total);

        });




    };


</script>

